@model IEnumerable<MNPOSTWEBSITEMODEL.WS_ServiceType>
    @using MNPOSTWEBSITEMODEL
@{
    ViewBag.Title = "Home Page";
    MNPOSTWEBSITEEntities db = new MNPOSTWEBSITEEntities();
    var rs = db.WS_Slider.Where(s => s.ID == 1);
}


<div id='main' class='all_colors' data-scroll-offset='60'>

    <div id='av-layout-grid-1' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-0  el_before_av_layout_row  avia-builder-el-first  container_wrap fullsize'>
        <div class="flex_cell no_margin av_two_third  avia-builder-el-11  el_after_av_cell_one_third  avia-builder-el-last   av-zero-padding " style='vertical-align:top; padding:0px; '>
            <div class='flex_cell_inner'>
                <div data-size='entry_with_sidebar' data-lightbox_size='large' data-animation='slide' data-ids='4594,4595,4515' data-video_counter='0' data-autoplay='true' data-bg_slider='false' data-slide_height='' data-handle='av_slideshow' data-interval='5' data-class=' avia-builder-el-12  avia-builder-el-no-sibling  ' data-css_id='' data-scroll_down='' data-control_layout='av-control-default' data-custom_markup='' data-perma_caption='' data-autoplay_stopper='' data-image_attachment='' data-min_height='0px' data-default-height='37.988165680473' class='avia-slideshow avia-slideshow-1  av-control-default av-default-height-applied avia-slideshow-entry_with_sidebar av_slideshow  avia-builder-el-12  avia-builder-el-no-sibling   avia-slide-slider ' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                    <ul class='avia-slideshow-inner' style='padding-bottom: 37.988165680473%;'>
                        <li class=' slide-1 '>
                            <div data-rel='slideshow-1' class='avia-slide-wrap'>
                                <img src='~/images/slider/@rs.FirstOrDefault().Image01' width='845' style="height:600px" height="200" title='' alt='' itemprop="thumbnailUrl" />
                                <h1 class="av-animation-active" style="text-align:center; background-color:#f6a81e">@rs.FirstOrDefault().Caption01</h1>
                            </div>
                        </li>
                        <li class=' slide-2 '>
                            <div data-rel='slideshow-1' class='avia-slide-wrap'>
                                <img src='~/images/slider/@rs.FirstOrDefault().Image02' width='845' style="height:600px" height='200' title='' alt='' itemprop="thumbnailUrl" />
                                <h1 class="av-animation-active" style="text-align:center; background-color:#f6a81e">@rs.FirstOrDefault().Caption02</h1>
                            </div>
                        </li>
                        <li class=' slide-3 '>
                            <div data-rel='slideshow-1' class='avia-slide-wrap'>
                                <img src='~/images/slider/@rs.FirstOrDefault().Image03' width='845' style="height:600px" height='200' title='banner2' alt='' itemprop="thumbnailUrl" />
                                <h1 class="av-animation-active" style="text-align:center; background-color:#f6a81e">@rs.FirstOrDefault().Caption03</h1>
                            </div>
                        </li>
                    </ul>
                    <div class='avia-slideshow-arrows avia-slideshow-controls'>
                        <a href='#prev' class='prev-slide' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'>Previous</a>
                        <a href='#next' class='next-slide' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'>Next</a>
                    </div>
                    <div class='avia-slideshow-dots avia-slideshow-controls'>
                        <a href='#1' class='goto-slide active'>1</a>
                        <a href='#2' class='goto-slide '>2</a>
                        <a href='#3' class='goto-slide '>3</a>
                    </div>
                </div>
            </div>
        </div>
    </div><div id='av-layout-grid-2' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells   av-border-top-bottom av-border-cells avia-builder-el-13  el_after_av_layout_row  el_before_av_layout_row  submenu-not-first container_wrap fullsize'>
        <div class="flex_cell no_margin av_one_third  avia-builder-el-14  el_before_av_cell_one_third  avia-builder-el-first   " style='height:90px; min-height:90px;vertical-align:top; padding:40px 5px 2px 10px ; background-color:#ffffff; '>
            <div class='flex_cell_inner'>
                <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class='avia_textblock  ' itemprop="text">
                        <h6 style="text-align:center;">DANH SÁCH DỊCH VỤ</h6>
                    </div>
                </section>
                <div class='avia-icon-list-container   avia-builder-el-16  el_after_av_textblock  avia-builder-el-last ' style="text-align:center">
                    <ul class='avia-icon-list avia-icon-list-left av-iconlist-big avia_animate_when_almost_visible'>
                        @foreach (var item in Model)
                        {
                            if (item.Hide == false)
                            {
                                <li>
                                    <article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                        <div class='iconlist_content_wrap'>
                                            <header class="entry-content-header" style="margin-right:70px"><h4 class='av_iconlist_title iconlist_title  ' itemprop="headline" style='font-size:13px; '><a href='/transport/service?sv=fast' title='' target="_self" style="position:absolute;left:40%">@item.Name</a></h4></header><div class='iconlist_content  ' itemprop="text" style='font-size:12px; '>
                                            </div>
                                        </div>
                                        @if (item.ContentService.Length > 150)
                                        {
                                            <footer class="entry-footer">@Html.Raw(item.ContentService.Substring(0, 150))...<a href='/transport/service?sv=fast'>Xem chi tiết</a></footer>
                                        }
                                        else
                                        {
                                            <footer class="entry-footer">@Html.Raw(item.ContentService) <a href='/transport/service?sv=fast'>Xem chi tiết</a></footer>
                                        }
                                    </article>
                                </li>
                            }
                        }                    
                    </ul>
                </div>
            </div>
        </div><div class="flex_cell no_margin av_one_third  avia-builder-el-17  el_after_av_cell_one_third  el_before_av_cell_one_third   av-zero-padding " style='height:90px; min-height:90px;vertical-align:top; padding:0px; background-color:#2e4496; width:17%'>
            <div class='flex_cell_inner'>
                <div class="flex_column av_one_full  flex_column_div av-zero-column-padding first  avia-builder-el-18  el_before_av_partner  avia-builder-el-first  " style='background-color:#2e4496; border-radius:0px; '>
                    <section class="avia_codeblock_section  avia_code_block_0" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_codeblock ' itemprop="text">
                            <div class="avia-button-wrap avia-button-center el_after_av_heading el_before_av_hr" style="background-color: #2e4496">
                                <h3 class="widgettitle" style="padding:30px; color:#ffffff;">TRA CỨU VẬN ĐƠN</h3>
                                <div class="textwidget">
                                    <form class="home-lookup _form first_form form_element" style="display: block; margin: 0 35px;" action="/order/searchmailer" target="_blank" method="get" role="search">
                                        <input class="home-lookup _text" style=" border-radius: 5px;" name="mailerid" required="required" type="text" autofocus="" placeholder="Nhập số phiếu gửi của bạn" />
                                        <button class="avia_iconbox_title avia-button avia-color-custom avia-size-small avia-position-center" style="background-color: #f6a81e; border: #f6a81e; color: #ffffff;" type="submit">TRA CỨU</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <br />
                <hr style="color:#f6a81e; border-color:#f6a81e;" />
                <div data-autoplay='false' data-interval='5' data-animation='slide' class='avia-logo-element-container  avia-logo-slider avia-content-slider avia-smallarrow-slider avia-content-slider-active noHover avia-content-slider1 avia-content-slider-odd  avia-builder-el-20  el_after_av_one_full  avia-builder-el-last  '>
                    <div class='avia-smallarrow-slider-heading  no-logo-slider-heading '></div><div class='avia-content-slider-inner'>
                        <div class='slide-entry-wrap' itemscope="itemscope" itemtype="https://schema.org/ImageObject">
                            <div class='slide-entry flex_column no_margin post-entry slide-entry-overview slide-loop-1 slide-parity-odd  post-entry-last  av_fullwidth first real-thumbnail'>
                                <div class="col-lg-6">
                                    <div style='padding-bottom:10px;color:#ffffff;' class='av-special-heading av-special-heading-h5 custom-color-heading blockquote modern-quote modern-centered  avia-builder-el-2  el_before_av_button  avia-builder-el-first   '><h5 class='av-special-heading-tag ' itemprop="headline">Bạn là khách hàng mới?</h5><div class='special-heading-border'><div class='special-heading-inner-border' style='border-color:#ffffff'></div></div></div>
                                    <div class='avia-button-wrap avia-button-center  avia-builder-el-5  el_after_av_heading  el_before_av_textblock '><a href='/account/register' class='avia-button   avia-icon_select-yes-left-icon avia-color-light avia-size-small avia-position-center ' target="_self"><span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span><span class='avia_iconbox_title'>ĐĂNG KÝ</span></a></div>
                                </div>
                                <div class="col-lg-6">
                                    <div style='padding-bottom:10px; color:#ffffff; margin-top:30px' class='av-special-heading av-special-heading-h5 custom-color-heading blockquote modern-quote modern-centered  avia-builder-el-4  el_after_av_button  el_before_av_button   '><h5 class='av-special-heading-tag ' itemprop="headline">Bạn đã có tài khoản?</h5><div class='special-heading-border'><div class='special-heading-inner-border' style='border-color:#ffffff'></div></div></div>
                                    <div class='avia-button-wrap avia-button-center  avia-builder-el-5  el_after_av_heading  el_before_av_textblock '><a href='/account/login' class='avia-button   avia-icon_select-yes-left-icon avia-color-light avia-size-small avia-position-center ' target="_self"><span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span><span class='avia_iconbox_title'>ĐĂNG NHẬP</span></a></div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div><div>		</div><!--end builder template--></div><!-- close default .container_wrap element -->
    <!-- end main -->
</div>