
@{
    ViewBag.Title = "Home Page";
}

<!-- Main Slider With Form -->
@*<section class="osahan-slider">
    <div id="osahanslider" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#osahanslider" data-slide-to="0" class="active"></li>
            <li data-target="#osahanslider" data-slide-to="1"></li>
            <li data-target="#osahanslider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url('/Content/img/slider/2.jpg')"><div class="overlay"></div></div>
            <div class="carousel-item" style="background-image: url('/Content/img/slider/3.jpg')"><div class="overlay"></div></div>
            <div class="carousel-item" style="background-image: url('/Content/img/slider/4.jpg')"><div class="overlay"></div></div>
        </div>
        <a class="carousel-control-prev" href="#osahanslider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#osahanslider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="slider-form">
        <div class="container">
            <h1 class="text-center text-white mb-5">Ước tính cước phí</h1>
            <form>
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-security-home"></i></div>
                            <select class="form-control select2 no-radius">
                                    <option value="">Nơi bắt đầu</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ProvinceID">@item.ProvinceName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="mdi mdi-security-home"></i></div>
                            <select class="form-control select2 no-radius">
                                <option value="">Nơi kết thúc</option>
                                @foreach (var item in Model)
                                {
                                    <option value="@item.ProvinceID">@item.ProvinceName</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-success btn-block no-radius font-weight-bold">Tìm Kiếm</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- End Main Slider With Form -->
<!-- Properties List -->
<section class="section-padding">
    <div class="section-title text-center mb-5">
        <h2>Tuyến giao hàng nhiều nhất</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card card-list">
                    <a href="#">
                        <span class="badge badge-success">Hồ Chí Minh</span>
                        <img class="card-img-top" src="~/Content/img/list/hcm.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hồ Chí Minh - Hà Nội</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i>Thời gian giao dự kiến: 10 ngày</h6>
                            <h2 class="text-success mb-0 mt-3">
                                Cước phí: <small>250.000 VND</small>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card card-list">
                    <a href="#">
                        <span class="badge badge-secondary">Hà Nội</span>
                        <img class="card-img-top" src="~/Content/img/list/hn.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hà Nội - Đà Nẵng</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i>Thời gian giao dự kiến: 10 ngày</h6>
                            <h2 class="text-success mb-0 mt-3">
                                Cước phí: <small>250.000 VND</small>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card card-list">
                    <a href="#">
                        <span class="badge badge-success">Đà Nẵng</span>
                        <img class="card-img-top" src="~/Content/img/list/dn.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Đà Nẵng - Cần Thơ</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i>Thời gian giao dự kiến: 10 ngày</h6>
                            <h2 class="text-success mb-0 mt-3">
                                Cước phí: <small>250.000 VND</small>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card card-list">
                    <a href="#">
                        <span class="badge badge-danger">Cần Thơ</span>
                        <img class="card-img-top" src="~/Content/img/list/ct.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Cần Thơ - Huế</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i>Thời gian giao dự kiến: 10 ngày</h6>
                            <h2 class="text-success mb-0 mt-3">
                                Cước phí: <small>250.000 VND</small>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card card-list">
                    <a href="#">
                        <span class="badge badge-warning">Huế</span>
                        <img class="card-img-top" src="~/Content/img/list/hue.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Huế - Hà Tĩnh</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i>Thời gian giao dự kiến: 10 ngày</h6>
                            <h2 class="text-success mb-0 mt-3">
                                Cước phí: <small>250.000 VND</small>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card card-list">
                    <a href="#">
                        <span class="badge badge-info">Hà Tĩnh</span>
                        <img class="card-img-top" src="~/Content/img/list/ht.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Hà Tĩnh - Hồ Chí Minh</h5>
                            <h6 class="card-subtitle mb-2 text-muted"><i class="mdi mdi-home-map-marker"></i>Thời gian giao dự kiến: 10 ngày</h6>
                            <h2 class="text-success mb-0 mt-3">
                                Cước phí: <small>250.000 VND</small>
                            </h2>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Properties List -->
<!-- Properties by City -->
<section class="section-padding bg-white">
    <div class="section-title text-center mb-5">
        <h2>Chúng tôi có mặt trên kháp tỉnh thành</h2>
        <p>Trải dài từ miền bắc vào miền nam</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/hcm.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">TP. Hồ Chí Minh</h3>
                            <p class="card-text text-white">4 Chi nhánh</p>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/hn.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">Hà Nội</h3>
                            <p class="card-text text-white">3 Chi nhánh</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/dn.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">Đà Nẵng</h3>
                            <p class="card-text text-white">2 Chi nhánh</p>
                        </div>
                    </a>
                    .
                </div>
            </div>
            <div class="col-lg-8 col-md-8">
                <div class="card bg-dark text-white card-overlay">
                    <a href="#">
                        <img class="card-img" src="/Content/img/overlay/hue.jpg" alt="Card image">
                        <div class="card-img-overlay">
                            <h3 class="card-title text-white">Huế</h3>
                            <p class="card-text text-white">2 Chi nhánh</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Properties by City -->
<!-- Trusted Agents -->
<section class="section-padding">
    <div class="section-title text-center mb-5">
        <h2>Vì sao nên tin tưởng chúng tôi?</h2>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                    <p class="mb-4">Đội ngũ giao hàng chuyên nghiệp.</p>
                    <h6 class="mb-0 text-success">CHUYÊN NGHIỆP</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                    <p class="mb-4">Thời gian giao hàng nhanh chóng và dễ dàng theo dõi lịch trình kiện hàng.</p>
                    <h6 class="mb-0 text-success">NHANH CHÓNG</h6>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="agents-card text-center">
                    <img class="img-fluid mb-4" src="/Content/img/icon/trust.png" alt="">
                    <p class="mb-4">Kiện hàng được giao tới đúng thời gian và hoàn toàn không bị trầy xướt.</p>
                    <h6 class="mb-0 text-success">ĐÁNG TIN CẬY</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Trusted Agents -->
<!-- Blog -->
<section class="section-padding border-top">
    <div class="section-title text-center mb-5">
        <h2>Tin mới nhất</h2>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in data)
            {
                <div class="col-lg-4 col-md-4">
                    <div class="card blog-card">
                        <a href="/post/detailpost/@item.ID">
                            <img class="card-img-top" src="/images/post/@item.Images" alt="Card image cap">
                            <div class="card-body">
                                <span class="badge badge-success">@item.Service</span>
                                <h6>@item.PostName</h6>
                                <p class="mb-0">@Html.Raw(@item.PostContent)</p>
                            </div>
                            <div class="card-footer">
                                <p class="mb-0">Đăng bởi <strong>@item.PostBy</strong> vào @item.CreatedDate</p>
                            </div>
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- End Blog -->
<!-- Join Team -->
<section class="section-padding bg-dark text-center">
    <h2 class="text-white mt-0">Tham gia cùng bạn trên mọi chuyến hàng <br /> một cách nhanh chóng và chính xác</h2>
    <p class="text-white mb-4">Đó chính là tiêu chí của chúng tôi</p>
    <button type="button" class="btn btn-success">Liên hệ với chúng tôi</button>
</section>*@
<!-- End Join Team -->

<div id='main' class='all_colors' data-scroll-offset='60'>

    <div id='av-layout-grid-1' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-0  el_before_av_layout_row  avia-builder-el-first  container_wrap fullsize'>
        <div class="flex_cell no_margin av_one_third  avia-builder-el-1  el_before_av_cell_two_third  avia-builder-el-first   " style='vertical-align:top; padding:10px 30px 5px 30px ; background-color:#0047ad; '>
            <div class='flex_cell_inner'>
                <div style='padding-bottom:10px;color:#ffffff;' class='av-special-heading av-special-heading-h5 custom-color-heading blockquote modern-quote modern-centered  avia-builder-el-2  el_before_av_button  avia-builder-el-first   '><h5 class='av-special-heading-tag ' itemprop="headline">Bạn là khách hàng mới?</h5><div class='special-heading-border'><div class='special-heading-inner-border' style='border-color:#ffffff'></div></div></div>
                <div class='avia-button-wrap avia-button-center  avia-builder-el-3  el_after_av_heading  el_before_av_heading '><a href='https://khachhang.ecotrans.vn/register' class='avia-button   avia-icon_select-yes-left-icon avia-color-custom avia-size-small avia-position-center ' target="_blank" style='background-color:#ff7700; border-color:#ff7700; color:#ffffff; '><span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span><span class='avia_iconbox_title'>ĐĂNG KÝ NGAY</span></a></div>
                <div style='padding-bottom:10px;color:#ffffff;' class='av-special-heading av-special-heading-h5 custom-color-heading blockquote modern-quote modern-centered  avia-builder-el-4  el_after_av_button  el_before_av_button   '><h5 class='av-special-heading-tag ' itemprop="headline">Bạn đã có tài khoản?</h5><div class='special-heading-border'><div class='special-heading-inner-border' style='border-color:#ffffff'></div></div></div>
                <div class='avia-button-wrap avia-button-center  avia-builder-el-5  el_after_av_heading  el_before_av_textblock '><a href='https://khachhang.ecotrans.vn/login' class='avia-button   avia-icon_select-yes-left-icon avia-color-light avia-size-small avia-position-center ' target="_blank"><span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span><span class='avia_iconbox_title'>ĐĂNG NHẬP</span></a></div>
                <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork"><div class='avia_textblock  ' itemprop="text"></div></section>
                <div class="flex_column av_one_half  flex_column_div av-zero-column-padding first  avia-builder-el-7  el_after_av_textblock  el_before_av_one_half  column-top-margin" style='border-radius:0px; '><div class='avia-button-wrap avia-button-center  avia-builder-el-8  avia-builder-el-no-sibling '><a href='https://itunes.apple.com/us/app/ecotrans-giao-h%C3%A0ng-to%C3%A0n-qu%E1%BB%91c/id1410171933?l=vi&ls=1&mt=8' class='avia-button   avia-icon_select-yes-left-icon avia-color-custom avia-size-small avia-position-center ' target="_blank" style='background-color:#ff7700; border-color:#ff7700; color:#ffffff; '><span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span><span class='avia_iconbox_title'>Apple Store</span></a></div></div><div class="flex_column av_one_half  flex_column_div av-zero-column-padding   avia-builder-el-9  el_after_av_one_half  avia-builder-el-last  column-top-margin" style='border-radius:0px; '><div class='avia-button-wrap avia-button-center  avia-builder-el-10  avia-builder-el-no-sibling '><a href='https://play.google.com/store/apps/details?id=com.newgate.ecotrans' class='avia-button   avia-icon_select-yes-left-icon avia-color-custom avia-size-small avia-position-center ' target="_blank" style='background-color:#ff7700; border-color:#ff7700; color:#ffffff; '><span class='avia_button_icon avia_button_icon_left ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span><span class='avia_iconbox_title'>Google Play</span></a></div></div>
            </div>
        </div><div class="flex_cell no_margin av_two_third  avia-builder-el-11  el_after_av_cell_one_third  avia-builder-el-last   av-zero-padding " style='vertical-align:top; padding:0px; '>
            <div class='flex_cell_inner'>
                <div data-size='entry_with_sidebar' data-lightbox_size='large' data-animation='slide' data-ids='4594,4595,4515' data-video_counter='0' data-autoplay='true' data-bg_slider='false' data-slide_height='' data-handle='av_slideshow' data-interval='5' data-class=' avia-builder-el-12  avia-builder-el-no-sibling  ' data-css_id='' data-scroll_down='' data-control_layout='av-control-default' data-custom_markup='' data-perma_caption='' data-autoplay_stopper='' data-image_attachment='' data-min_height='0px' data-default-height='37.988165680473' class='avia-slideshow avia-slideshow-1  av-control-default av-default-height-applied avia-slideshow-entry_with_sidebar av_slideshow  avia-builder-el-12  avia-builder-el-no-sibling   avia-slide-slider ' itemscope="itemscope" itemtype="https://schema.org/ImageObject"><ul class='avia-slideshow-inner' style='padding-bottom: 37.988165680473%;'><li class=' slide-1 '><a href='https://khachhang.ecotrans.vn/register' data-rel='slideshow-1' class='avia-slide-wrap'><img src='https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-845x321.png' width='845' height='321' title='tai-ung-dung-eco' alt='' itemprop="thumbnailUrl" /></a></li><li class=' slide-2 '><div data-rel='slideshow-1' class='avia-slide-wrap'><img src='https://ecotrans.vn/wp-content/uploads/2018/07/banner-tao-don-hang-845x321.png' width='845' height='321' title='banner-tao-don-hang' alt='' itemprop="thumbnailUrl" /></div></li><li class=' slide-3 '><div data-rel='slideshow-1' class='avia-slide-wrap'><img src='https://ecotrans.vn/wp-content/uploads/2018/07/banner2.png' width='845' height='321' title='banner2' alt='' itemprop="thumbnailUrl" /></div></li></ul><div class='avia-slideshow-arrows avia-slideshow-controls'><a href='#prev' class='prev-slide' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'>Previous</a><a href='#next' class='next-slide' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'>Next</a></div><div class='avia-slideshow-dots avia-slideshow-controls'><a href='#1' class='goto-slide active'>1</a><a href='#2' class='goto-slide '>2</a><a href='#3' class='goto-slide '>3</a></div></div>
            </div>
        </div>
    </div><div id='av-layout-grid-2' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells   av-border-top-bottom av-border-cells avia-builder-el-13  el_after_av_layout_row  el_before_av_layout_row  submenu-not-first container_wrap fullsize'>
        <div class="flex_cell no_margin av_one_third  avia-builder-el-14  el_before_av_cell_one_third  avia-builder-el-first   " style='height:90px; min-height:90px;vertical-align:top; padding:40px 5px 30px 10px ; background-color:#ffffff; '>
            <div class='flex_cell_inner'>
                <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class='avia_textblock  ' itemprop="text">
                        <h6 style="text-align: center;">TRUY CẬP NHANH</h6>
                    </div>
                </section>
                <div class='avia-icon-list-container   avia-builder-el-16  el_after_av_textblock  avia-builder-el-last '>
                    <ul class='avia-icon-list avia-icon-list-left av-iconlist-big avia_animate_when_almost_visible'>
                        <li>
                            <a href='https://khachhang.ecotrans.vn/bills/add' title='Tạo đơn hàng' target="_blank" style='background-color:#0047ad; color:#ffffff; ' class='iconlist_icon  avia-font-entypo-fontello'><span class='iconlist-char ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span></a><article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='iconlist_content_wrap'>
                                    <header class="entry-content-header"><h4 class='av_iconlist_title iconlist_title  ' itemprop="headline" style='font-size:13px; '><a href='https://khachhang.ecotrans.vn/bills/add' title='Tạo đơn hàng' target="_blank">Tạo đơn hàng</a></h4></header><div class='iconlist_content  ' itemprop="text" style='font-size:12px; '>
                                        <p>Tạo đơn hàng trực tiếp, Excel</p>
                                    </div>
                                </div><footer class="entry-footer"></footer>
                            </article><div class='iconlist-timeline'></div>
                        </li>
                        <li>
                            <a href='https://khachhang.ecotrans.vn/bills/tatca' title='Quản lý đơn hàng' target="_blank" style='background-color:#0047ad; color:#ffffff; ' class='iconlist_icon  avia-font-entypo-fontello'><span class='iconlist-char ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span></a><article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='iconlist_content_wrap'>
                                    <header class="entry-content-header"><h4 class='av_iconlist_title iconlist_title  ' itemprop="headline" style='font-size:13px; '><a href='https://khachhang.ecotrans.vn/bills/tatca' title='Quản lý đơn hàng' target="_blank">Quản lý đơn hàng</a></h4></header><div class='iconlist_content  ' itemprop="text" style='font-size:12px; '>
                                        <p>Các trạng thái đơn hàng và thông tin chi tiết</p>
                                    </div>
                                </div><footer class="entry-footer"></footer>
                            </article><div class='iconlist-timeline'></div>
                        </li>
                        <li>
                            <a href='https://khachhang.ecotrans.vn/cods' title='Quản lý tiền thu hộ' target="_blank" style='background-color:#0047ad; color:#ffffff; ' class='iconlist_icon  avia-font-entypo-fontello'><span class='iconlist-char ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span></a><article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='iconlist_content_wrap'>
                                    <header class="entry-content-header"><h4 class='av_iconlist_title iconlist_title  ' itemprop="headline" style='font-size:13px; '><a href='https://khachhang.ecotrans.vn/cods' title='Quản lý tiền thu hộ' target="_blank">Quản lý tiền thu hộ</a></h4></header><div class='iconlist_content  ' itemprop="text" style='font-size:12px; '>
                                        <p>Tiền đã về, đang luân chuyển, sắp nhận được</p>
                                    </div>
                                </div><footer class="entry-footer"></footer>
                            </article><div class='iconlist-timeline'></div>
                        </li>
                        <li>
                            <a href='https://ecotrans.vn/bang-gia' title='Xem bảng giá' target="_blank" style='background-color:#0047ad; color:#ffffff; ' class='iconlist_icon  avia-font-entypo-fontello'><span class='iconlist-char ' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span></a><article class="article-icon-entry " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='iconlist_content_wrap'>
                                    <header class="entry-content-header"><h4 class='av_iconlist_title iconlist_title  ' itemprop="headline" style='font-size:13px; '><a href='https://ecotrans.vn/bang-gia' title='Xem bảng giá' target="_blank">Xem bảng giá</a></h4></header><div class='iconlist_content  ' itemprop="text" style='font-size:12px; '>
                                        <p>Giá cước, thời gian vận chuyển</p>
                                    </div>
                                </div><footer class="entry-footer"></footer>
                            </article><div class='iconlist-timeline'></div>
                        </li>
                    </ul>
                </div>
            </div>
        </div><div class="flex_cell no_margin av_one_third  avia-builder-el-17  el_after_av_cell_one_third  el_before_av_cell_one_third   av-zero-padding " style='height:90px; min-height:90px;vertical-align:top; padding:0px; background-color:#ff7700; '>
            <div class='flex_cell_inner'>
                <div class="flex_column av_one_full  flex_column_div av-zero-column-padding first  avia-builder-el-18  el_before_av_partner  avia-builder-el-first  " style='background-color:#ff7700; border-radius:0px; '>
                    <section class="avia_codeblock_section  avia_code_block_0" itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                        <div class='avia_codeblock ' itemprop="text">
                            <div class="avia-button-wrap avia-button-center el_after_av_heading el_before_av_hr">
                                <h3 class="widgettitle" style="padding: 30px; color: #ffffff;">TRA CỨU VẬN ĐƠN</h3>
                                <div class="textwidget">
                                    <form class="home-lookup _form first_form form_element" style="display: block; margin: 0 35px;" action="https://phanmem.ecotrans.vn:99/tracking/tracking.aspx" target="_blank">
                                        <input class="home-lookup _text" style=" border-radius: 5px;" name="BILLID" required="required" type="text" autofocus="" placeholder="Nhập số phiếu gửi của bạn" />
                                        <button class="avia_iconbox_title avia-button avia-color-custom avia-size-small avia-position-center" style="background-color: #0047ad; border-color: #0047ad; color: #ffffff;" type="submit">TRA CỨU</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </div><div data-autoplay='false' data-interval='5' data-animation='slide' class='avia-logo-element-container  avia-logo-slider avia-content-slider avia-smallarrow-slider avia-content-slider-active noHover avia-content-slider1 avia-content-slider-odd  avia-builder-el-20  el_after_av_one_full  avia-builder-el-last  '><div class='avia-smallarrow-slider-heading  no-logo-slider-heading '><div class='new-special-heading'>&nbsp;</div></div><div class='avia-content-slider-inner'><div class='slide-entry-wrap' itemscope="itemscope" itemtype="https://schema.org/ImageObject"><div class='slide-entry flex_column no_margin post-entry slide-entry-overview slide-loop-1 slide-parity-odd  post-entry-last  av_fullwidth first real-thumbnail'><img itemprop="thumbnailUrl" width="449" height="239" src="https://ecotrans.vn/wp-content/uploads/2018/04/TIN-NHAN-noi_thanh_15k_2.png" class="attachment-no scaling size-no scaling" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/04/TIN-NHAN-noi_thanh_15k_2.png 449w, https://ecotrans.vn/wp-content/uploads/2018/04/TIN-NHAN-noi_thanh_15k_2-300x160.png 300w" sizes="(max-width: 449px) 100vw, 449px" /></div></div></div></div>
            </div>
        </div><div class="flex_cell no_margin av_one_third  avia-builder-el-21  el_after_av_cell_one_third  avia-builder-el-last   " style='height:90px; min-height:90px;vertical-align:top; padding:0px 30px 0px 30px ; background-color:#ffffff; '>
            <div class='flex_cell_inner'>
                <div class='avia-builder-widget-area clearfix  avia-builder-el-22  avia-builder-el-no-sibling '><div id="newsbox-3" class="widget clearfix newsbox"><h3 class="widgettitle">Tin tức</h3><ul class="news-wrap image_size_widget"><li class="news-content post-format-standard"><a class='news-link' title='Ecotrans Hà Nội &#8211; Tuyển Dụng' href='https://ecotrans.vn/tin-tuc/ecotrans-ha-noi-tuyen-dung.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/08/tuyen-dung-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Ecotrans Hà Nội &#8211; Tuyển Dụng<span class='news-time'>14/08/2018 - 10:28</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Gửi hàng chuyển phát nhanh trên app' href='https://ecotrans.vn/tin-tuc/app-chuyen-phat-nhanh.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/tai-ung-dung-eco-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Gửi hàng chuyển phát nhanh trên app<span class='news-time'>09/08/2018 - 10:02</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Điểm gửi hàng ECOTRANS tại HCM' href='https://ecotrans.vn/tin-tuc/diem-gui-hang-ecotrans-tai-hcm.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/ecotran-hcm-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Điểm gửi hàng ECOTRANS tại HCM<span class='news-time'>28/07/2018 - 15:28</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Điểm gửi hàng ECOTRANS tại Hà Nội' href='https://ecotrans.vn/tin-tuc/diem-gui-hang-ecotrans-tai-ha-noi.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/DIA-CHI-ECOTRANS-2-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Điểm gửi hàng ECOTRANS tại Hà Nội<span class='news-time'>28/07/2018 - 15:17</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Gửi chuyển phát đi Indonesia' href='https://ecotrans.vn/tin-tuc/gui-chuyen-phat-di-indonesia.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-36x36.png" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-36x36.png 36w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-80x80.png 80w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-180x180.png 180w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-120x120.png 120w, https://ecotrans.vn/wp-content/uploads/2018/07/hoa-toc-Indonesia-450x450.png 450w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Gửi chuyển phát đi Indonesia<span class='news-time'>26/07/2018 - 14:10</span></strong></a></li><li class="news-content post-format-standard"><a class='news-link' title='Tiết kiệm chi phí chuyển hàng' href='https://ecotrans.vn/tin-tuc/tiet-kiem-chi-phi-chuyen-hang.html'><span class='news-thumb '><img width="36" height="36" src="https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-36x36.jpg" class="attachment-widget size-widget wp-post-image" alt="" srcset="https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-36x36.jpg 36w, https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-80x80.jpg 80w, https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-180x180.jpg 180w, https://ecotrans.vn/wp-content/uploads/2018/07/amazon-alibaba-tmdt-1-120x120.jpg 120w" sizes="(max-width: 36px) 100vw, 36px" /></span><strong class='news-headline'>Tiết kiệm chi phí chuyển hàng<span class='news-time'>26/07/2018 - 13:54</span></strong></a></li></ul></div></div>
            </div>
        </div>
    </div></p>
    <div id='av-layout-grid-3' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells   av-small-hide av-mini-hide  avia-builder-el-23  el_after_av_layout_row  el_before_av_layout_row  submenu-not-first container_wrap fullsize'>
        <div class="flex_cell no_margin av_one_full  avia-builder-el-24  avia-builder-el-no-sibling   " style='vertical-align:top; padding:10px 0px 10px 0px ; background-color:#0047ad; '>
            <div class='flex_cell_inner'>
                <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class='avia_textblock  ' itemprop="text">
                        <h3 class="widgettitle" style="padding: 0px 0px 0px 0px; text-align: center;"><span style="color: #ffffff;">PHƯƠNG THỨC HOẠT ĐỘNG</span></h3>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <div id='av-layout-grid-4' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells   av-small-hide av-mini-hide av-border-cells avia-builder-el-26  el_after_av_layout_row  avia-builder-el-last  submenu-not-first container_wrap fullsize'>
        <div class="flex_cell no_margin av_one_fifth  avia-builder-el-27  el_before_av_cell_one_fifth  avia-builder-el-first   av-zero-padding " style='vertical-align:top; padding:0px; background-color:#eeeeee; '>
            <div class='flex_cell_inner'>
                <article class="iconbox iconbox_top main_color    avia-builder-el-28  avia-builder-el-no-sibling  " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class="iconbox_content">
                        <header class="entry-content-header"><div class="iconbox_icon heading-color " aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' style='background-color:#0047ad; '></div><h3 class='iconbox_content_title ' itemprop="headline">Tiếp nhận</h3></header><div class='iconbox_content_container  ' itemprop="text">
                            <p>Shop đăng nhập và tạo đơn Online trên phần người dùng</p>
                        </div>
                    </div><footer class="entry-footer"></footer>
                </article>
            </div>
        </div><div class="flex_cell no_margin av_one_fifth  avia-builder-el-29  el_after_av_cell_one_fifth  el_before_av_cell_one_fifth   av-zero-padding " style='vertical-align:top; padding:0px; background-color:#eeeeee; '>
            <div class='flex_cell_inner'>
                <article class="iconbox iconbox_top main_color    avia-builder-el-30  avia-builder-el-no-sibling  " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class="iconbox_content">
                        <header class="entry-content-header"><div class="iconbox_icon heading-color " aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' style='background-color:#0047ad; '></div><h3 class='iconbox_content_title ' itemprop="headline">Lấy hàng</h3></header><div class='iconbox_content_container  ' itemprop="text">
                            <p>Nhân viên Ecotrans qua địa chỉ Shop để lấy hàng tận nơi</p>
                        </div>
                    </div><footer class="entry-footer"></footer>
                </article>
            </div>
        </div><div class="flex_cell no_margin av_one_fifth  avia-builder-el-31  el_after_av_cell_one_fifth  el_before_av_cell_one_fifth   av-zero-padding " style='vertical-align:top; padding:0px; background-color:#eeeeee; '>
            <div class='flex_cell_inner'>
                <article class="iconbox iconbox_top main_color    avia-builder-el-32  avia-builder-el-no-sibling  " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class="iconbox_content">
                        <header class="entry-content-header"><div class="iconbox_icon heading-color " aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' style='background-color:#0047ad; '></div><h3 class='iconbox_content_title ' itemprop="headline">Giao hàng</h3></header><div class='iconbox_content_container  ' itemprop="text">
                            <p>Ecotrans giao hàng cho khách hàng và thu hộ tiền trực tiếp</p>
                        </div>
                    </div><footer class="entry-footer"></footer>
                </article>
            </div>
        </div><div class="flex_cell no_margin av_one_fifth  avia-builder-el-33  el_after_av_cell_one_fifth  el_before_av_cell_one_fifth   av-zero-padding " style='vertical-align:top; padding:0px; background-color:#eeeeee; '>
            <div class='flex_cell_inner'>
                <article class="iconbox iconbox_top main_color    avia-builder-el-34  avia-builder-el-no-sibling  " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class="iconbox_content">
                        <header class="entry-content-header"><div class="iconbox_icon heading-color " aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' style='background-color:#0047ad; '></div><h3 class='iconbox_content_title ' itemprop="headline">Đối soát</h3></header><div class='iconbox_content_container  ' itemprop="text">
                            <p>Ecotrans đối soát trả tiền cho Shop qua TK NH</p>
                        </div>
                    </div><footer class="entry-footer"></footer>
                </article>
            </div>
        </div><div class="flex_cell no_margin av_one_fifth  avia-builder-el-35  el_after_av_cell_one_fifth  avia-builder-el-last   av-zero-padding " style='vertical-align:top; padding:0px; background-color:#eeeeee; '>
            <div class='flex_cell_inner'>
                <article class="iconbox iconbox_top main_color    avia-builder-el-36  avia-builder-el-no-sibling  " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class="iconbox_content">
                        <header class="entry-content-header"><div class="iconbox_icon heading-color " aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' style='background-color:#0047ad; '></div><h3 class='iconbox_content_title ' itemprop="headline">Kết thúc</h3></header><div class='iconbox_content_container  ' itemprop="text">
                            <p>Giao dịch hoàn thành, đơn hàng đã phát thành công</p>
                        </div>
                    </div><footer class="entry-footer"></footer>
                </article>
            </div>
        </div>
    </div>
    <div><div>		</div><!--end builder template--></div><!-- close default .container_wrap element -->





    <footer class='container_wrap socket_color' id='socket' role="contentinfo" itemscope="itemscope" itemtype="https://schema.org/WPFooter">
        <div class='container'>

            <span class='copyright'>Bản quyền thuộc về Công ty cổ phần vận chuyển Ecotrans</span>

            <ul class='noLightbox social_bookmarks icon_count_3'><li class='social_bookmarks_facebook av-social-link-facebook social_icon_1'><a target='_blank' href='#' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Facebook'><span class='avia_hidden_link_text'>Facebook</span></a></li><li class='social_bookmarks_skype av-social-link-skype social_icon_2'><a href='skype:ecotransvn?chat' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Skype'><span class='avia_hidden_link_text'>Skype</span></a></li><li class='social_bookmarks_mail av-social-link-mail social_icon_3'><a target='_blank' href='https://mail.google.com/mail/u/0/#inbox?compose=new' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Mail'><span class='avia_hidden_link_text'>Mail</span></a></li></ul>
        </div>

        <!-- ####### END SOCKET CONTAINER ####### -->
    </footer>


    <!-- end main -->
</div>