@using PagedList.Mvc;
@using GridMvc.Html;
@model PagedList.IPagedList<MNPOSTWEBSITEMODEL.WS_Post>
    @using MNPOSTWEBSITEMODEL
@{
    ViewBag.Title = "PostList";
    MNPOSTWEBSITEEntities db = new MNPOSTWEBSITEEntities();
    var lst = db.WS_Post.OrderByDescending(s => s.CreatedDate).ToList();
}
<div id='main' class='all_colors' data-scroll-offset='60'>

    <div class='stretch_full container_wrap alternate_color light_bg_color title_container'><div class='container'><h1 class='main-title entry-title'><a href='/post/postlist' rel='bookmark' title='Permanent Link: Tin tức' itemprop="headline">Tin tức</a></h1><div class="breadcrumb breadcrumbs avia-breadcrumbs"><div class="breadcrumb-trail" xmlns:v="http://rdf.data-vocabulary.org/#"><span class="trail-before"><span class="breadcrumb-title"></span></span> <a href="/home/index" title="Chuyển phát nhanh Ecotrans" rel="home" class="trail-begin">Trang chủ</a> <span class="sep">/</span> <span class="trail-end">Tin tức</span></div></div></div></div><div class='main_color container_wrap_first container_wrap sidebar_right'>
        <div class='container'>
            <main role="main" itemprop="mainContentOfPage" class='template-page content  av-content-small alpha units'>
                <div class='post-entry post-entry-type-page post-entry-15'>
                    <div class='entry-content-wrapper clearfix'>
                        <div class='template-blog  av-blog-meta-author-disabled av-blog-meta-comments-disabled av-blog-meta-date-disabled ' itemscope="itemscope" itemtype="https://schema.org/Blog">
                            @foreach (var item in Model)
                            {
                                <article class='post-entry post-entry-type-standard post-entry-4715 post-loop-1 post-parity-odd single-small with-slider post-4715 post type-post status-publish format-standard has-post-thumbnail hentry category-tin-tuc tag-ecotrans-ha-noi-tuyen-dung' itemscope="itemscope" itemtype="https://schema.org/BlogPosting">
                                    <div class='blog-meta'>
                                        <a href='/post/detailpost/@item.ID' class='small-preview' title='@item.PostName'>
                                            <img width="180" height="180" src="~/images/post/@item.Avatar" class="attachment-square size-square wp-post-image" alt=""  sizes="(max-width: 180px) 100vw, 180px" /><span class="iconfont" aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'></span>
                                        </a>
                                    </div><div class='entry-content-wrapper clearfix standard-content'>
                                        <header class="entry-content-header"><h2 class='post-title entry-title' itemprop="headline"><a href='/post/detailpost/@item.ID' rel='bookmark' title='@item.PostName'>@item.PostName<span class='post-format-icon minor-meta'></span>	</a></h2><span class='post-meta-infos'><time class='date-container minor-meta updated'>14/08/2018</time><span class='text-sep text-sep-date'>/</span><span class="blog-categories minor-meta">Tin tức</span><span class="text-sep text-sep-cat">/</span><span class="blog-author minor-meta">đăng bởi <span class="entry-author-link"><span class="vcard author"><span class="fn"><a href="https://ecotrans.vn/author/khonguyen" title="Đăng bởi Khổng Văn Uyển" rel="author">@item.PostBy</a></span></span></span></span></span></header><div class="entry-content" itemprop="text">
                                    @if (item.ContentPost.Length > 300)
                                    {
                                        @Html.Raw(item.ContentPost.Substring(0,300))
                                    }
                                    else
                                    {
                                        @Html.Raw(item.ContentPost)
                                    }
                                  
                                        </div><footer class="entry-footer"></footer><div class='post_delimiter'></div>
                                    </div><div class='post_author_timeline'></div><span class='hidden'>
                                        <span class='av-structured-data' itemscope="itemscope" itemtype="https://schema.org/ImageObject" itemprop='image'>
                                            <span itemprop='url'></span>
                                            <span itemprop='height'>1717</span>
                                            <span itemprop='width'>2048</span>
                                        </span><span class='av-structured-data' itemprop="publisher" itemtype="https://schema.org/Organization" itemscope="itemscope">
                                            <span itemprop='name'>Khổng Văn Uyển</span>
                                            <span itemprop='logo' itemscope itemtype='http://schema.org/ImageObject'>
                                                <span itemprop='url'></span>
                                            </span>
                                        </span><span class='av-structured-data' itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person"><span itemprop='name'>Khổng Văn Uyển</span></span><span class='av-structured-data' itemprop="datePublished" datetime="2018-08-14T10:28:20+00:00">2018-08-14 10:28:20</span><span class='av-structured-data' itemprop="dateModified" itemtype="https://schema.org/dateModified">2018-08-14 10:28:20</span><span class='av-structured-data' itemprop="mainEntityOfPage" itemtype="https://schema.org/mainEntityOfPage"><span itemprop='name'>@item.PostName</span></span>
                                    </span>
                                </article>
                            }
                                <div class='single-small'>
                                    @Html.PagedListPager(Model, Page => Url.Action("PostList", new { Page }))
                                    @*<nav class='pagination'><span class='pagination-meta'>Page 1 of 63</span><span class='current'>1</span><a href='https://ecotrans.vn/tin-tuc/page/2' class='inactive'>2</a><a href='https://ecotrans.vn/tin-tuc/page/3' class='inactive'>3</a><a href='https://ecotrans.vn/tin-tuc/page/2'>&rsaquo;</a><a href='https://ecotrans.vn/tin-tuc/page/63'>&raquo;</a></nav>*@
                                </div>
                        </div>
                    </div>
                </div>
            </main><!-- close content main element --> <!-- section close by builder template --><aside class='sidebar sidebar_right  alpha units' role="complementary" itemscope="itemscope" itemtype="https://schema.org/WPSideBar">
            <div class='inner_sidebar extralight-border'>
            <section id="newsbox-5" class="widget clearfix newsbox">
                <h3 class="widgettitle">BÀI VIẾT MỚI</h3>
                <ul class="news-wrap image_size_widget">
                    @foreach (var item in lst)
                    {
                        <li class="news-content post-format-standard">
                            <a class='news-link' title='Ecotrans Hà Nội &#8211; Tuyển Dụng' href='/post/detailpost/@item.ID'>
                                <span class='news-thumb '><img width="36" height="36" src="~/images/post/@item.Avatar" class="attachment-widget size-widget wp-post-image" alt="" sizes="(max-width: 36px) 100vw, 36px" /></span>
                                <strong class='news-headline'>@item.PostName<span class='news-time'>@item.CreatedDate</span></strong>
                            </a>
                        </li>
                    }

                </ul><span class="seperator extralight-border"></span>
            </section>
            </div></aside>
        </div><!--end builder template-->
    </div><!-- close default .container_wrap element -->
</div>