@model IEnumerable<MNPOSTWEBSITEMODEL.WS_Recruitment>
@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id='main' class='all_colors' data-scroll-offset='60'>

    <div class='stretch_full container_wrap alternate_color light_bg_color title_container'><div class='container'><h1 class='main-title entry-title'><a href='/transport/recruitment' rel='bookmark' title='Permanent Link: Tuyển dụng' itemprop="headline">Tuyển dụng</a></h1><div class="breadcrumb breadcrumbs avia-breadcrumbs"><div class="breadcrumb-trail" xmlns:v="http://rdf.data-vocabulary.org/#"><span class="trail-before"><span class="breadcrumb-title"></span></span> <a href="/home/index" title="Chuyển phát nhanh Miền Nam Post" rel="home" class="trail-begin">Trang chủ</a> <span class="sep">/</span> <span class="trail-end">Tuyển dụng</span></div></div></div></div><div class='main_color container_wrap_first container_wrap fullsize'>
        <div class='container'>
            <main role="main" itemprop="mainContentOfPage" class='template-page content  av-content-full alpha units'>
                <div class='post-entry post-entry-type-page post-entry-17'>
                    <div class='entry-content-wrapper clearfix'>
                        <div class="flex_column av_one_full  flex_column_div av-zero-column-padding first  avia-builder-el-0  el_before_av_tab_section  avia-builder-el-no-sibling  " style='border-radius:0px; '>
                            <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                <div class='avia_textblock  ' itemprop="text">
                                    <h3 style="text-align: center;"><span style="color: #003366;">Chuyển phát nhanh Miền Nam Post</span></h3>
                                    <p style="text-align: center;">Tự hào là một trong những nhà cung cấp dịch vụ chuyển phát hàng đầu trong nước. Chúng tôi tuyển dụng liên tục tất cả các vị trí trong công ty nhằm đáp ứng nhu cầu dịch vụ và sự phát triển của công ty.</p>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </main><!-- close content main element -->
        </div>
    </div><div id='av-tab-section-1' class='av-tab-section-container entry-content-wrapper main_color av-tab-no-transition av-tab-content-auto  av-tab-above-content  avia-builder-el-2  el_after_av_one_full  el_before_av_sidebar  submenu-not-first container_wrap fullsize'>
        <div class='av-tab-section-outer-container'>
            <div class='av-tab-section-tab-title-container avia-tab-title-padding-default ' style='background-color:#ffffff; '>
                @foreach (var item in Model)
                {
                    if (item.Hide == false)
                    {
                        <a href='#' data-av-tab-section-title='@item.ID' class='av-section-tab-title av-active-tab-title av-tab-no-icon av-tab-with-image noHover  av-tab-without-text  '>
                            <div style="background-color:#334898; color:aquamarine;">@item.Name</div>
                            <span class='av-outer-tab-title'><span class='av-inner-tab-title'></span></span>
                            <span class='av-tab-arrow-container'><span></span></span>
                        </a>
                    }
                    else
                    {
                        <a href='#' data-av-tab-section-title='@item.ID' class='av-section-tab-title av-active-tab-title av-tab-no-icon av-tab-with-image noHover  av-tab-without-text  '>
                            <div style="background-color:#334898; color:aquamarine; display:none">@item.Name</div>
                            <span style="display:none" class='av-outer-tab-title'><span class='av-inner-tab-title'></span></span>
                            <span style="display:none" class='av-tab-arrow-container'><span></span></span>
                        </a>
                    }

                }
            </div>
            <div class='av-tab-section-inner-container avia-section-small' style='width:500vw; left:0%;'>
                <span class='av_prev_tab_section av_tab_navigation'></span><span class='av_next_tab_section av_tab_navigation'></span>
                @foreach (var item in Model)
                {
                    if (item.Hide == false)
                    {
                        <div data-av-tab-section-content="@item.ID" class="av-layout-tab av-animation-delay-container av-active-tab-content __av_init_open  avia-builder-el-3  el_before_av_tab_sub_section  avia-builder-el-first   " style='vertical-align:top; background-color:#ffffff; ' data-av-tab-bg-color='#ffffff' data-tab-section-id="">
                            <div class='av-layout-tab-inner'>
                                <div class='container'>
                                    <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                        <div class='avia_textblock  ' itemprop="text">
                                            @Html.Raw(item.ContentRecruitment)
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div data-av-tab-section-content="@item.ID" class="av-layout-tab av-animation-delay-container av-active-tab-content __av_init_open  avia-builder-el-3  el_before_av_tab_sub_section  avia-builder-el-first   " style='vertical-align:top; background-color:#ffffff; ' data-av-tab-bg-color='#ffffff' data-tab-section-id="">
                            <div class='av-layout-tab-inner' style="display:none">
                                <div class='container'>
                                    <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                        <div class='avia_textblock  ' itemprop="text">
                                            @Html.Raw(item.ContentRecruitment)
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </div>
</div>
