@model IEnumerable<MNPOSTWEBSITEMODEL.WS_ServiceType>
@{
    ViewBag.Title = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string filname = "Test";
}
<header id='header' class='all_colors header_color light_bg_color  av_header_top av_logo_left av_main_nav_header av_menu_right av_custom av_header_sticky av_header_shrinking_disabled av_header_stretch av_mobile_menu_phone av_header_searchicon av_header_unstick_top_disabled av_bottom_nav_disabled  av_header_border_disabled' role="banner" itemscope="itemscope" itemtype="https://schema.org/WPHeader">

    <div id='header_meta' class='container_wrap container_wrap_meta  av_icon_active_right av_extra_header_active av_phone_active_right av_entry_id_27'>

        <div class='container'>
            <ul class='noLightbox social_bookmarks icon_count_3'><li class='social_bookmarks_facebook av-social-link-facebook social_icon_1'><a target='_blank' href='#' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Facebook'><span class='avia_hidden_link_text'>Facebook</span></a></li><li class='social_bookmarks_mail av-social-link-mail social_icon_3'><a target='_blank' href='https://www.cskh@("@")miennampost.vn' aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello' title='Mail'><span class='avia_hidden_link_text'>Mail</span></a></li></ul><div class='phone-info '><span>Giờ làm việc: 8h-18h (T2 – T7) - Hotline: 0906900888</span></div>
        </div>
    </div>

    <div id='header_main' class='container_wrap container_wrap_logo'>

        <div class='container av-logo-container'>
            <div class='inner-container'>
                <span class='logo'><a href='/trang-chu/index'><img height='100' width='300' src='~/Content/img/mnpost.jpg' alt='Chuyển phát nhanh MNPOST' /></a></span><nav class='main_menu' data-selectname='Select a page' role="navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                    <div class="avia-menu av-main-nav-wrap">
                        <ul id="avia-menu" class="menu av-main-nav">
                            <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-1"><a href="/trang-chu/index" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Trang chủ</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                            <li id="menu-item-23" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-2"><a href="/gioi-thieu/ve-chung-toi" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Giới thiệu</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                            <li id="menu-item-22" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-top-level menu-item-top-level-3"><a href="/van-chuyen/dich-vu" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Dịch vụ</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                            <li id="menu-item-26" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-4"><a href="/van-chuyen/tuyen-dung" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Tuyển dụng</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                            <li id="menu-item-25" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-5"><a href="/bai-viet/danh-sach-bai-viet" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Tin tức</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                            <li id="menu-item-24" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-top-level menu-item-top-level-6"><a href="/gioi-thieu/lien-he" itemprop="url"><span class="avia-bullet"></span><span class="avia-menu-text">Liên hệ</span><span class="avia-menu-fx"><span class="avia-arrow-wrap"><span class="avia-arrow"></span></span></span></a></li>
                            @*<li id="menu-item-search" class="noMobile menu-item menu-item-search-dropdown menu-item-avia-special">
                                    <a href="?s=" data-avia-search-tooltip="&lt;form action=&quot;https://ecotrans.vn/&quot; id=&quot;searchform&quot; method=&quot;get&quot; class=&quot;&quot;&gt; &lt;div&gt;&lt;input type=&quot;submit&quot; value=&quot;&quot; id=&quot;searchsubmit&quot; class=&quot;button avia-font-entypo-fontello&quot; /&gt;&lt;input type=&quot;text&quot; id=&quot;s&quot; name=&quot;s&quot; value=&quot;&quot; placeholder='Search' /&gt; &lt;/div&gt; &lt;/form&gt;" aria-hidden='true' data-av_icon='' data-av_iconfont='entypo-fontello'><span class="avia_hidden_link_text">Search</span></a>
                                </li>*@
                            <li class="av-burger-menu-main menu-item-avia-special ">
                                <a href="#">
                                    <span class="av-hamburger av-hamburger--spin av-js-hamburger">
                                        <span class="av-hamburger-box">
                                            <span class="av-hamburger-inner"></span>
                                            <strong>Menu</strong>
                                        </span>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- end container_wrap-->
    </div>


    <div class='header_bg'></div>

    <!-- end header -->
</header>
<div id='main' class='all_colors' data-scroll-offset='60'>

    <div class='stretch_full container_wrap alternate_color light_bg_color title_container'><div class='container'><h1 class='main-title entry-title'><a href='/van-chuyen/dich-vu' rel='bookmark' title='Permanent Link: Dịch vụ' itemprop="headline">Dịch vụ</a></h1><div class="breadcrumb breadcrumbs avia-breadcrumbs"><div class="breadcrumb-trail" xmlns:v="http://rdf.data-vocabulary.org/#"><span class="trail-before"><span class="breadcrumb-title"></span></span> <a href="/trang-chu/index" title="Chuyển phát nhanh Miền Nam Post" rel="home" class="trail-begin">Trang chủ</a> <span class="sep">/</span> <span class="trail-end">Dịch vụ</span></div></div></div></div><div id='av-layout-grid-1' class='av-layout-grid-container entry-content-wrapper main_color av-flex-cells    avia-builder-el-0  el_before_av_tab_section  avia-builder-el-first  container_wrap fullsize'>
        <div class="flex_cell no_margin av_one_fourth  avia-builder-el-1  el_before_av_cell_one_half  avia-builder-el-first   " style='vertical-align:top; padding:30px; '>
            <div class='flex_cell_inner'>
            </div>
        </div><div class="flex_cell no_margin av_one_half  avia-builder-el-2  el_after_av_cell_one_fourth  el_before_av_cell_one_fourth   " style='vertical-align:top; padding:30px 0px 0px 0px ; '>
            <div class='flex_cell_inner'>
                <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                    <div class='avia_textblock  ' itemprop="text">
                        <h6 style="text-align: center;">Chào mừng Quý khách hàng đến với dịch vụ Chuyển phát Miền Nam Post</h6>
                        <p style="text-align: center;">Miền Nam Post chuyên cung cấp các dịch vụ chuyển phát uy tín, chất lượng cao. Các dịch vụ tại Chuyển phát Miền Nam Post là giải pháp có tính kinh tế cao cho hoạt động kinh doanh của Quý khách hàng với phương châm</p>
                        <p style="text-align: center;"><strong>NHANH CHÓNG, AN TOÀN VÀ TIẾT KIỆM</strong></p>
                    </div>
                </section>
            </div>
        </div><div class="flex_cell no_margin av_one_fourth  avia-builder-el-4  el_after_av_cell_one_half  avia-builder-el-last   " style='vertical-align:top; padding:30px; '>
            <div class='flex_cell_inner'>
            </div>
        </div>
    </div>
    <div id='av-tab-section-1' class='av-tab-section-container entry-content-wrapper main_color av-tab-no-transition av-tab-content-auto  av-tab-above-content  avia-builder-el-5  el_after_av_layout_row  avia-builder-el-last  submenu-not-first container_wrap fullsize'>
        <div class='av-tab-section-outer-container'>
            <div class='av-tab-section-tab-title-container avia-tab-title-padding-large av-custom-tab-color' style='background-color:#ffffff; color:#0047ad; '>
                @foreach (var item in Model)
                {
                    if (item.Hide == false)
                    {
                        <a href='#' data-av-tab-section-title='@item.ID' class='av-section-tab-title av-active-tab-title av-tab-no-icon av-tab-with-image noHover av-tab-image-rounded av-tab-without-text  '>
                            <div style="background-color:#334898; color:aquamarine;">@item.Name</div>
                            <span class='av-outer-tab-title'><span class='av-inner-tab-title'></span></span>
                            <span class='av-tab-arrow-container'><span></span></span>
                        </a>
                    }
                    else
                    {
                        <a href='#' data-av-tab-section-title='@item.ID' class='av-section-tab-title av-active-tab-title av-tab-no-icon av-tab-with-image noHover av-tab-image-rounded av-tab-without-text  '>
                            <div style="background-color:#334898; color:aquamarine; display:none">@item.Name</div>
                            <span style="display:none" class='av-outer-tab-title'><span class='av-inner-tab-title'></span></span>
                            <span style="display:none" class='av-tab-arrow-container'><span></span></span>
                        </a>
                    }

                }
            </div>
            <div class='av-tab-section-inner-container avia-section-default' style='width:500vw; left:0%;'>
                <span class='av_prev_tab_section av_tab_navigation'></span><span class='av_next_tab_section av_tab_navigation'></span>
                @foreach (var item in Model)
                {
                    if (item.Hide == false)
                    {
                        <div data-av-tab-section-content="@item.ID" class="av-layout-tab av-animation-delay-container av-active-tab-content __av_init_open  avia-builder-el-6  el_before_av_tab_sub_section  avia-builder-el-first" style='vertical-align:top; ' data-av-tab-color='#ff7700' data-tab-section-id="">
                            <div class='av-layout-tab-inner'>
                                <div class='container'>
                                    <div class="flex_column av_one_full  flex_column_div first  avia-builder-el-7  avia-builder-el-no-sibling  " style='border-width:1px; border-color:#ff7700; border-style:solid; padding:30px; border-radius:0px; '>
                                        <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                            <div class='avia_textblock  ' itemprop="text">
                                                @Html.Raw(item.ContentService)
                                                @if (item.ExcelFile != null)
                                                {
                                                    <a href="/transport/showfile/@item.ExcelFile"><strong style="color:red; font-size:23px">Xem bảng giá</strong></a>
                                                }
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div data-av-tab-section-content="@item.ID" class="av-layout-tab av-animation-delay-container av-active-tab-content __av_init_open  avia-builder-el-6  el_before_av_tab_sub_section  avia-builder-el-first" style='vertical-align:top; ' data-av-tab-color='#ff7700' data-tab-section-id="">
                            <div class='av-layout-tab-inner' style="display:none">
                                <div class='container'>
                                    <div class="flex_column av_one_full  flex_column_div first  avia-builder-el-7  avia-builder-el-no-sibling  " style='border-width:1px; border-color:#ff7700; border-style:solid; padding:30px; border-radius:0px; '>
                                        <section class="av_textblock_section " itemscope="itemscope" itemtype="https://schema.org/CreativeWork">
                                            <div class='avia_textblock  ' itemprop="text">
                                                @Html.Raw(item.ContentService)
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <div><div>		</div><!--end builder template--></div><!-- close default .container_wrap element -->
</div>

