@model MNPOSTWEBSITE.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ĐĂNG KÝ TÀI KHOẢN</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Content/login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Content/login/images/bg-01.jpg');">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <span class="login100-form-title p-b-49">
                    ĐĂNG KÝ TÀI KHOẢN
                </span>

                @using (Html.BeginForm("Test", "Manage", FormMethod.Post, new { @class = "login100-form validate-form", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Name is reauired">
                        <span class="label-input100">Họ tên</span>
                        <input type="text" class="input100" placeholder="Nhập họ tên" name="Fullname">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-23" data-validate="Phone is reauired">
                        <span class="label-input100">Số điện thoại</span>
                        <input type="text" class="input100" placeholder="Nhập SĐT" name="Phone">
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Email is reauired">
                                    <span class="label-input100">Email</span>
                                    @Html.TextBoxFor(m => m.UserName, new { @class = "input100", placeholder = "Nhập Email" })
                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                </div>
                                <div class="wrap-input100 validate-input m-b-23" data-validate="Password is reauired">
                                    <span class="label-input100">Mật khẩu</span>
                                    @Html.PasswordFor(m => m.Password, new { @class = "input100", placeholder = "Nhập mật khẩu" })
                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                </div>
                                <div class="wrap-input100 validate-input" data-validate="Confirm Password is reauired">
                                    <span class="label-input100">Xác nhận mật khẩu</span>
                                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input100", placeholder = "Xác nhận mật khẩu" })
                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                </div>
                                @*<div class="form-group">

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                            <label class="custom-control-label" for="customControlAutosizing">I agree with all <a href="terms.html">Terms & Conditions</a></label>
                                        </div>
                                    </div>*@
                                <br />
                                <div class="container-login100-form-btn">
                                    <div class="wrap-login100-form-btn">
                                        <div class="login100-form-bgbtn"></div>
                                        <button class="login100-form-btn">
                                            ĐĂNG KÝ
                                        </button>
                                    </div>
                                </div>
                         }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Content/login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/daterangepicker/moment.min.js"></script>
    <script src="~/Content/login/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="~/Content/login/js/main.js"></script>

</body>
</html>





@*<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Askbootstrap">
        <meta name="author" content="Askbootstrap">
        <title>ĐĂNG KÝ</title>
        <!-- Favicon Icon -->
        <link rel="icon" type="image/png" href="images/favicon.png">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Material Design Icons -->
        <link href="/Content/materialdesignicons.min.css" media="all" rel="stylesheet" type="text/css" />
        <!-- Select2 CSS -->
        <link href="/Content/select2-bootstrap.css" rel="stylesheet" />
        <link href="/Content/select2.min.css" rel="stylesheet" />
        <!-- Custom styles for this template -->
        <link href="/Content/osahan.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/2.6.95/css/materialdesignicons.css">
    </head>
    <body>
        <!-- Register -->
        <section class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-5 mx-auto">
                        <div class="card padding-card">
                            <div class="card-body">
                                <h5 class="card-title mb-4">ĐĂNG KÝ</h5>
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary()
                                    <div class="form-group">
                                        <label>Họ tên <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Nhập họ tên" name="Fullname">
                                    </div>
                                    <div class="form-group">
                                        <label>Số điện thoại <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" placeholder="Nhập SĐT" name="Phone">
                                    </div>
                                    <div class="form-group">
                                        <label>Email <span class="text-danger">*</span></label>
                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Nhập Email" })
                                    </div>
                                    <div class="form-group">
                                        <label>Mật khẩu <span class="text-danger">*</span></label>
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Nhập mật khẩu" })
                                    </div>
                                    <div class="form-group">
                                        <label>Xác nhận mật khẩu <span class="text-danger">*</span></label>
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder= "Xác nhận mật khẩu" })
                                    </div>
                                    @*<div class="form-group">

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                                            <label class="custom-control-label" for="customControlAutosizing">I agree with all <a href="terms.html">Terms & Conditions</a></label>
                                        </div>


                                    </div>*@
@*<button type="submit" class="btn btn-success btn-block">ĐĂNG KÝ</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- End Register -->
        <!-- Bootstrap core JavaScript -->
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!-- Contact form JavaScript -->
        <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <script src="/Content/jqBootstrapValidation.js"></script>
        <script src="/Content/contact_me.js"></script>
        <!-- select2 Js -->
        <script src="/Content/select2.min.js"></script>
        <!-- Custom -->
        <script src="/Content/custom.js"></script>
    </body>
    </html>*@
