@model PagedList.IPagedList<MNPOSTCOMMON.EMPLOYEE_GETALL_Result>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Show";
}

<div class="row" ng-app="myApp" ng-controller="myCtrl">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Danh sách nhân viên</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>
                                <a href="javascript:showModel('insertmodal')">Thêm nhân viên</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>

            </div>

            <div class="x_content">
                <p>
                    Danh sách nhân viên
                </p>
                <!--form search-->
                <form class="form-label-left">

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                    </div>

                </form>
                <!-- end form search-->
                <!-- table-->
                <div class="table-responsive">
                    <table class="table table-striped jambo_table bulk_action">
                        <thead>
                            <tr class="headings">
                                <th>Mã NV</th>
                                <th>Tên NV</th>
                                <th>Bưu cục</th>
                                <th>Vị trí</th>
                                <th>SDT</th>
                                <th>Email</th>
                                <th>UserLogin</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="staff in listStaff">
                                <td>{{staff.EmployeeID}}</td>
                                <td>{{staff.EmployeeName}}</td>
                                <td>{{staff.PostOfficeID}}</td>
                                

                            </tr>
                        </tbody>
                    </table>
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

                    @Html.PagedListPager(Model, page => Url.Action("Show", new { page }))
                </div>
                <!--end table-->


            </div>
        </div>
    </div>
</div>

<!-- modal insert-->
<!-- Modal -->
<div id="insertmodal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm nhân viên</h4>
            </div>
            <form method="post" action="/staff/AddStaff" onsubmit="fsubmit('Thêm nhân viên ?', 'insertmodal')">
                <div class="modal-body">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Tên nhân viên</label>
                                <input type="text" class="form-control" name="EmployeeName" required />
                            </div>
                            <div class="form-group">
                                <label>Số điện thoại</label>
                                <input type="text" class="form-control" name="Phone" required />
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" name="Email" />
                            </div>
                            <div class="form-group">
                                <label>CMND</label>
                                <input type="text" class="form-control" name="IdentifyCard" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Bưu cục</label>
                                <select class="form-control selectpicker" data-live-search="true" name="PostOfficeID" required>
                                    @foreach (var item in ViewBag.AllPost as IEnumerable<MNPOSTCOMMON.BS_PostOffices>)
                                    {
                                        <option value="@item.PostOfficeID">@item.PostOfficeName</option>
                                    }
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Chức vụ</label>
                                <select class="form-control selectpicker" data-live-search="true" name="PositionID" required>
                                    @foreach (var item in ViewBag.AllPosition as IEnumerable<MNPOSTCOMMON.BS_Positions>)
                                    {
                                        <option value="@item.PositionID">@item.PositionName</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default">Thêm</button>
                </div>
            </form>

        </div>

    </div>
</div>


<!-- model register-->
<div id="usermodal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Thêm nhân viên</h4>
            </div>
        </div>
        <form method="post" action="/staff/register" onsubmit="fsubmit('Tạo tài khoản ?', 'usermodal')">
            @Html.AntiForgeryToken()
            <div class="modal-body">
                <div class="form-group">
                    <label>Mã NV</label>
                    <input type="text" value="" name="StaffCode" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Tên NV</label>
                </div>

            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-default">Thêm</button>
            </div>
        </form>

    </div>

</div>


@section Scripts {


    <script>

        @if (ViewBag.MSG != "")
        {
            @:alert('@ViewBag.MSG');

        }
        var myArray =  '@Html.Raw(Json.Encode(Model))';
        console.log(myArray);

        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {

            $scope.listStaff = JSON.parse(myArray);




        });

    </script>
}
