@using MNPOSTWEBSITE.Models;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
    List<Province> lstProvince = new List<Province>();
    List<District> lstDistrict = new List<District>();
    List<Ward> lstWard = new List<Ward>();
    Province pro = new Province();
    District dt = new District();
    Ward w = new Ward();
    MNPOSTWEBSITE.Controllers.HomeController home = new MNPOSTWEBSITE.Controllers.HomeController();
    List<string> lstname = home.getProvince(Session["token"].ToString()).Result;
    List<string> lstid = home.getProvinceID(Session["token"].ToString()).Result;
    List<string> lstdname = home.getDistrict(Session["token"].ToString()).Result;
    List<string> lstdid = home.getDistrictID(Session["token"].ToString()).Result;
    List<string> lstwname = home.getWard(Session["token"].ToString()).Result;
    List<string> lstwid = home.getWardID(Session["token"].ToString()).Result;
    for (int i = 0; i < lstname.Count; i++)
    {
        pro = new Province();
        pro.ProvinceName = lstname[i];
        pro.ProvinceID = lstid[i];
        lstProvince.Add(pro);
    }
    for (int i = 0; i < lstdname.Count; i++)
    {
        dt = new District();
        dt.DistrictName = lstdname[i];
        dt.DistrictID = lstdid[i];
        lstDistrict.Add(dt);
    }
    for (int i = 0; i < lstwname.Count; i++)
    {
        w = new Ward();
        w.WardName = lstwname[i];
        w.WardID = lstwid[i];
        lstWard.Add(w);
    }
}

<!--main content start-->
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Tạo đơn hàng</h3>

        <!-- BASIC FORM ELELEMNTS -->
        <div class="row mt">
            <div class="col-lg-12">
                <div class="form-panel">
                    <form class="form-horizontal style-form" method="post" action="/order/create">
                        <div class="row">
                            <div class="col-lg-5" style="margin-left:50px;">
                                <h4 class="mb"><i class="fa fa-angle-right"></i> Người gửi</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Họ và tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="SenderName" placeholder="Nhập họ và tên..." value="@ViewBag.SenderName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Số điện thoại</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="SenderPhone" placeholder="Người số điện thoại..." value="@ViewBag.SenderPhone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Địa chỉ</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="SenderAddress" placeholder="Nhập địa chỉ..." value="@ViewBag.SenderAddress">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Phường</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="SenderWardID">
                                            <option value="">Chọn phường</option>
                                            @foreach (var item in lstWard)
                                            {
                                                <option value="@item.WardID">@item.WardName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Quận/huyện</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="SenderDistrictID">
                                            <option value="">Chọn quận/huyện</option>
                                            @foreach (var item in lstDistrict)
                                            {
                                                <option value="@item.DistrictID">@item.DistrictName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Thành phố</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="SenderProvinceID">
                                            <option value="">Chọn thành phố</option>
                                            @foreach (var item in lstProvince)
                                            {
                                                <option value="@item.ProvinceID">@item.ProvinceName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5" style="float:right; margin-right:100px;">
                                <h4 class="mb"><i class="fa fa-angle-right"></i> Người nhận</h4>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Họ và tên</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="RecieverName" placeholder="Nhập họ và tên..." value="@ViewBag.RecieverName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Số điện thoại</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="RecieverPhone" placeholder="Người số điện thoại..." value="@ViewBag.RecieverPhone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Địa chỉ</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="RecieverAddress" placeholder="Nhập địa chỉ..." value="@ViewBag.RecieverAddress">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Phường</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="RecieverWardID">
                                            <option value="">Chọn phường</option>
                                            @foreach (var item in lstWard)
                                            {
                                                <option value="@item.WardID">@item.WardName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Quận/huyện</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="RecieverDistrictID">
                                            <option value="">Chọn quận/huyện</option>
                                            @foreach (var item in lstDistrict)
                                            {
                                                <option value="@item.DistrictID">@item.DistrictName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Thành phố</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="RecieverProvinceID">
                                            <option value="">Chọn thành phố</option>
                                            @foreach (var item in lstProvince)
                                            {
                                                <option value="@item.ProvinceID">@item.ProvinceName</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="mb" style="margin-left:50px;"><i class="fa fa-angle-right"></i> Thông tin kiện hàng</h4>
                            <div class="col-lg-3" style="margin-left:50px;">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Tiền thu</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="COD" placeholder="Nhập CoD...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Giá trị hàng hóa</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="MerchandiseValue" placeholder="Nhập giá trị...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-la                                                    
                                           bel">Dịch vụ</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="MailerTypeID">
                                            <option value="">Chọn dịch vụ</option>
                                            <option value="">Dịch vụ chuyển phát nhanh</option>
                                            <option value="">Dịch vụ chuyển phát thường</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Dịch vụ cộng thêm</label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" onclick="myFunction()" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Phương thức thanh toán</label>
                                    <div class="col-sm-10">
                                        <select class="form-control select2 no-radius" name="Purchase">
                                            <option value="">Chọn phương thức</option>
                                            <option value="">Người gửi thanh toán</option>
                                            <option value="">Người nhận thanh toán</option>
                                        </select>
                                    </div>
                                </div>    
                                @*<button type="submit" class="btn btn-round btn-success">Gói hàng</button>*@
                            </div>
                            <div class="col-lg-7" style="float:right; margin-right:100px;">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Nội dung kiện hàng</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="MailerDescription" placeholder="Nhập nội dung...">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Ghi chú</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="Note" placeholder="Nhập ghi chú...">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Dài</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control round-form" name="Length" step="any">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Rộng</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control round-form" name="Width" step="any">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Cao</label>
                                            <div class="col-sm-8">
                                                <input type="number" class="form-control round-form" name="Height" step="any">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Trọng lượng</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control round-form" name="Weight" placeholder="Nhập trọng lượng..." step="any">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Số lượng</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control round-form" name="Quantity" placeholder="Nhập số lượng..." step="any">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Hàng hóa</label>
                                            <div class="col-sm-10">
                                                <select class="form-control select2 no-radius" name="MerchandiseID">
                                                    <option value="">Chọn loại hàng</option>
                                                    <option value="">Hàng hóa</option>
                                                    <option value="">Thư từ</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="myDIV" style="display:none;">
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Trọng lượng</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control round-form" name="Weight" placeholder="Nhập trọng lượng..." step="any">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Số lượng</label>
                                            <div class="col-sm-10">
                                                <input type="number" class="form-control round-form" name="Quantity" placeholder="Nhập số lượng..." step="any">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label class="col-sm-2 col-sm-2 control-label">Hàng hóa</label>
                                            <div class="col-sm-10">
                                                <select class="form-control select2 no-radius" name="Purchase">
                                                    <option value="">Chọn loại hàng</option>
                                                    <option value="">Hàng hóa</option>
                                                    <option value="">Thư từ</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <h4 class="mb" style="margin-left:50px;"><i class="fa fa-angle-right"></i> Thành tiền</h4>
                            <div class="col-lg-3" style="margin-left:50px;">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Cước chính</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="COD" placeholder="Nhập cước...">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-round btn-success">Gói hàng</button>
                            </div>
                            <div class="col-lg-3" style="margin-left:50px;">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Cước CoD</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="COD" placeholder="Nhập cước...">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3" style="margin-left:50px;">
                                <div class="form-group">
                                    <label class="col-sm-2 col-sm-2 control-label">Tổng cước</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control round-form" name="COD" placeholder="Nhập cước...">
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </form>
                </div>
            </div><!-- col-lg-12-->
        </div><!-- /row -->
    </section>
</section><!-- /MAIN CONTENT -->
<!--main content end-->
<!--custom tagsinput-->
<script>
function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
}
</script>
<script src="/Content/js/jquery.tagsinput.js"></script>
<script type="text/javascript" src="/Content/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>



