@using PagedList.Mvc;
@using GridMvc.Html;
@model PagedList.IPagedList<MNPOSTWEBSITE.Models.Mailer>
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<head>
    <style>
        input[type=text] {
            width: 180px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 12px;
            background-color: white;
            background-image: url('../../images/search.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            margin: 10px;
        }

            input[type=text]:focus {
                width: 15%;
            }
    </style>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
</head>
<section id="main-content">
    <section class="wrapper">
        <h3 id="head"><i class="fa fa-angle-right"></i> Danh sách đơn hàng đã tạo</h3>
        <div class="col-lg-12" id="choose">
            <div class="row" style="margin-left:7px;">
                <h5 class="mb col-lg-2">Chọn trạng thái: </h5>
                <select class="form-control col-lg-10" id="opt" name="opt" style="width:15%; margin-left:10px">
                    <option value="form0" selected>Mới tạo</option>
                    <option value="form1">Chờ lấy</option>
                    <option value="form2">Đang lấy</option>
                    <option value="form3">Đã lấy</option>
                    <option value="form4">Chờ giao lại</option>
                    <option value="form5">Đang giao</option>
                    <option value="form6">Giao thành công</option>
                </select>
            </div>
        </div>
        <div class="row" id="form0">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed" id="tablemailer">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng khởi tạo</h4>
                            <hr />
                            <form method="get" action="/order/GetMailer">
                                <button class="btn btn-success" style="float:right;margin-right: 10px;margin-top: 19px;">Tra</button>

                                <div class="col-sm-3" style="float:right">
                                    Đến ngày
                                    <div class='input-group date' id='dtptodate'>
                                        <input type='date' class="form-control" name="ToDate" id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-sm-3' style="float:right">
                                    <div class="form-group">
                                        Từ ngày
                                        <div class='input-group date' id='dtpfromdate'>
                                            <input type='date' class="form-control" id="fdate" name="FromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <hr />
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-calendar"></i> Ngày khởi tạo</th>
                                    <th><i class="fa fa-user"></i> Tên người nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT người nhận</th>
                                    <th><i class="fa fa-home"></i> Địa chỉ người nhận</th>
                                    <th><i class="fa fa-money"></i> COD</th>
                                    <th><i class="fa fa-money"></i> Giá</th>
                                    @*<th><i class="fa fa-print"></i>In</th>*@
                                    <th><i class="fa fa-check-square-o"></i> Chọn</th>
                                    <th><i class="fa fa-eraser"></i> Xoá</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count() > 0 && item.CurrentStatusID == 0)
                                    {
                                        <tr>
                                            <td><a href="/order/edit/@item.MailerID">@item.MailerID</a></td>
                                            <td>@item.AcceptDate</td>
                                            <td>@item.RecieverName</td>
                                            <td>@item.RecieverPhone</td>
                                            <td>@item.RecieverAddress</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.COD))</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.Price))</td>
                                            @*<td>
                                                    <form action="/order/print/@item.MailerID" method="get">
                                                        <button class="btn btn-primary btn-xs"><i class="fa fa-print"></i></button>
                                                    </form>
                                                </td>*@
                                            <td><input type="checkbox" data-id="@item.MailerID" /></td>
                                            <td>
                                                <form action="/order/deletemailer/@item.MailerID" method="get">
                                                    <button class="btn btn-primary btn-xs"><i class="fa fa-eraser"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <button style="margin-left:10px; margin-bottom:10px" class="btn btn-primary btn-xs" id="getMailer">Gửi phiếu xác nhận</button>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>

        <div class="row" id="form1" style="display:none">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed" id="tablemailer1">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng chờ lấy</h4>
                            <hr />
                            <form method="get" action="/order/GetMailer">
                                <button class="btn btn-success" style="float:right;margin-right: 10px;margin-top: 19px;">Tra</button>

                                <div class="col-sm-3" style="float:right">
                                    Đến ngày
                                    <div class='input-group date' id='dtptodate'>
                                        <input type='date' class="form-control" name="ToDate" id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-sm-3' style="float:right">
                                    <div class="form-group">
                                        Từ ngày
                                        <div class='input-group date' id='dtpfromdate'>
                                            <input type='date' class="form-control" id="fdate" name="FromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <hr />
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-calendar"></i> Ngày khởi tạo</th>
                                    <th><i class="fa fa-user"></i> Tên người nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT người nhận</th>
                                    <th><i class="fa fa-home"></i> Địa chỉ người nhận</th>
                                    <th><i class="fa fa-money"></i> COD</th>
                                    <th><i class="fa fa-money"></i> Giá</th>
                                    <th><i class="fa fa-envelope"></i>Hành trính</th>
                                    @*<th><i class="fa fa-check-square-o"></i> Chọn</th>*@
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count() > 0 && item.CurrentStatusID == 1)
                                    {
                                        <tr>
                                            <td>@item.MailerID</td>
                                            <td>@item.AcceptDate</td>
                                            <td>@item.RecieverName</td>
                                            <td>@item.RecieverPhone</td>
                                            <td>@item.RecieverAddress</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.COD))</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.Price))</td>
                                            <td><form action="/order/trackingmailer" method="post">
                                                <input type="hidden" name="mailerid" value="@item.MailerID" />
                                                <button class="btn btn-primary btn-xs" value="Tra cứu"></button>
                                                </form>
                                            </td>
                                            @*<td><input type="checkbox" data-id="@item.MailerID" /></td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        <button style="margin-left:10px; margin-bottom:10px" class="btn btn-primary btn-xs" id="returnMailer">Gửi phiếu xác nhận</button>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>

        <div class="row" id="form2" style="display:none">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng đang lấy</h4>
                            <hr />
                            <form method="get" action="/order/GetMailer">
                                <button class="btn btn-success" style="float:right;margin-right: 10px;margin-top: 19px;">Tra</button>

                                <div class="col-sm-3" style="float:right">
                                    Đến ngày
                                    <div class='input-group date' id='dtptodate'>
                                        <input type='date' class="form-control" name="ToDate" id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-sm-3' style="float:right">
                                    <div class="form-group">
                                        Từ ngày
                                        <div class='input-group date' id='dtpfromdate'>
                                            <input type='date' class="form-control" id="fdate" name="FromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <hr />
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-database"></i> Ngày khởi tạo</th>
                                    <th><i class="fa fa-user"></i> Tên người nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT người nhận</th>
                                    <th><i class="fa fa-home"></i> Địa chỉ người nhận</th>
                                    <th><i class="fa fa-money"></i> COD</th>
                                    <th><i class="fa fa-money"></i> Giá</th>
                                    <th><i class="fa fa-user-md"></i> Nhân viên nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT nhân viên nhận</th>
                                    <th><i class="fa fa-print"></i>In</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count() > 0 && item.CurrentStatusID == 2)
                                    {
                                        <tr>
                                            <td>@item.MailerID</td>
                                            <td>@item.AcceptDate</td>
                                            <td>@item.RecieverName</td>
                                            <td>@item.RecieverPhone</td>
                                            <td>@item.RecieverAddress</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.COD))</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.Price))</td>
                                            <td>@item.EmployeeAcceptID</td>
                                            <td></td>
                                            <td>
                                                <form action="/order/print/@item.MailerID" method="get">
                                                    <button class="btn btn-primary btn-xs"><i class="fa fa-print"></i></button>
                                                </form>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>

        <div class="row" id="form3" style="display:none">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng đã lấy</h4>
                            <hr />
                            <form method="get" action="/order/GetMailer">
                                <button class="btn btn-success" style="float:right;margin-right: 10px;margin-top: 19px;">Tra</button>

                                <div class="col-sm-3" style="float:right">
                                    Đến ngày
                                    <div class='input-group date' id='dtptodate'>
                                        <input type='date' class="form-control" name="ToDate" id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-sm-3' style="float:right">
                                    <div class="form-group">
                                        Từ ngày
                                        <div class='input-group date' id='dtpfromdate'>
                                            <input type='date' class="form-control" id="fdate" name="FromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <hr />
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-calendar"></i> Ngày khởi tạo</th>
                                    <th><i class="fa fa-user"></i> Tên người nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT người nhận</th>
                                    <th><i class="fa fa-home"></i> Địa chỉ người nhận</th>
                                    <th><i class="fa fa-money"></i> COD</th>
                                    <th><i class="fa fa-money"></i> Giá</th>
                                    <th><i class="fa fa-user-md"></i> Nhân viên nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT nhân viên nhận</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count() > 0 && item.CurrentStatusID == 3)
                                    {
                                        <tr>
                                            <td>@item.MailerID</td>
                                            <td>@item.AcceptDate</td>
                                            <td>@item.RecieverName</td>
                                            <td>@item.RecieverPhone</td>
                                            <td>@item.RecieverAddress</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.COD))</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.Price))</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>

        <div class="row" id="form4" style="display:none">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng chờ giao lại</h4>
                            <hr />
                            <form method="get" action="/order/GetMailer">
                                <button class="btn btn-success" style="float:right;margin-right: 10px;margin-top: 19px;">Tra</button>

                                <div class="col-sm-3" style="float:right">
                                    Đến ngày
                                    <div class='input-group date' id='dtptodate'>
                                        <input type='date' class="form-control" name="ToDate" id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-sm-3' style="float:right">
                                    <div class="form-group">
                                        Từ ngày
                                        <div class='input-group date' id='dtpfromdate'>
                                            <input type='date' class="form-control" id="fdate" name="FromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <hr />
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-calendar"></i> Ngày khởi tạo</th>
                                    <th><i class="fa fa-user"></i> Tên người nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT người nhận</th>
                                    <th><i class="fa fa-home"></i> Địa chỉ người nhận</th>
                                    <th><i class="fa fa-money"></i> COD</th>
                                    <th><i class="fa fa-money"></i> Giá</th>
                                    <th><i class="fa fa-user-md"></i> Nhân viên nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT nhân viên nhận</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count() > 0 && item.CurrentStatusID == 4)
                                    {
                                        <tr>
                                            <td>@item.MailerID</td>
                                            <td>@item.AcceptDate</td>
                                            <td>@item.RecieverName</td>
                                            <td>@item.RecieverPhone</td>
                                            <td>@item.RecieverAddress</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.COD))</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.Price))</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>

        <div class="row" id="form5" style="display:none">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng đang giao</h4>
                            <hr />
                            <form method="get" action="/order/GetMailer">
                                <button class="btn btn-success" style="float:right;margin-right: 10px;margin-top: 19px;">Tra</button>

                                <div class="col-sm-3" style="float:right">
                                    Đến ngày
                                    <div class='input-group date' id='dtptodate'>
                                        <input type='date' class="form-control" name="ToDate" id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-sm-3' style="float:right">
                                    <div class="form-group">
                                        Từ ngày
                                        <div class='input-group date' id='dtpfromdate'>
                                            <input type='date' class="form-control" id="fdate" name="FromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <hr />
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-calendar"></i> Ngày khởi tạo</th>
                                    <th><i class="fa fa-user"></i> Tên người nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT người nhận</th>
                                    <th><i class="fa fa-home"></i> Địa chỉ người nhận</th>
                                    <th><i class="fa fa-money"></i> COD</th>
                                    <th><i class="fa fa-money"></i> Giá</th>
                                    <th><i class="fa fa-user-md"></i> Nhân viên giao</th>
                                    <th><i class="fa fa-phone"></i> SĐT nhân viên giao</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count() > 0 && item.CurrentStatusID == 5)
                                    {
                                        <tr>
                                            <td>@item.MailerID</td>
                                            <td>@item.AcceptDate</td>
                                            <td>@item.RecieverName</td>
                                            <td>@item.RecieverPhone</td>
                                            <td>@item.RecieverAddress</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.COD))</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.Price))</td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>

        <div class="row" id="form6" style="display:none">
            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-bordered table-striped table-condensed">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng giao thành công</h4>
                            <hr />
                            <form method="get" action="/order/GetMailer">
                                <button class="btn btn-success" style="float:right;margin-right: 10px;margin-top: 19px;">Tra</button>

                                <div class="col-sm-3" style="float:right">
                                    Đến ngày
                                    <div class='input-group date' id='dtptodate'>
                                        <input type='date' class="form-control" name="ToDate" id="tdate" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                                <div class='col-sm-3' style="float:right">
                                    <div class="form-group">
                                        Từ ngày
                                        <div class='input-group date' id='dtpfromdate'>
                                            <input type='date' class="form-control" id="fdate" name="FromDate" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                            </form>
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <hr />
                            <thead>
                                <tr>
                                    <th><i class="fa fa-code"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-calendar"></i> Ngày khởi tạo</th>
                                    <th><i class="fa fa-user"></i> Tên người nhận</th>
                                    <th><i class="fa fa-phone"></i> SĐT người nhận</th>
                                    <th><i class="fa fa-home"></i> Địa chỉ người nhận</th>
                                    <th><i class="fa fa-money"></i> COD</th>
                                    <th><i class="fa fa-money"></i> Giá</th>
                                    <th><i class="fa fa-user-md"></i> Người nhận</th>
                                    <th><i class="fa fa-phone"></i> Ngày giao</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count() > 0 && item.CurrentStatusID == 6)
                                    {
                                        <tr>
                                            <td>@item.MailerID</td>
                                            <td>@item.AcceptDate</td>
                                            <td>@item.RecieverName</td>
                                            <td>@item.RecieverPhone</td>
                                            <td>@item.RecieverAddress</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.COD))</td>
                                            <td>@string.Format("{0:n0}", Convert.ToInt32(item.Price))</td>
                                            <td>@item.DeliveryTo</td>
                                            <td>@item.DeliveryDate</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</strong>
                    @Html.PagedListPager(Model, Page => Url.Action("List", new { Page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>
    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
<script>
    $("#opt").on("change", function () {
        $("#" + $(this).val()).show().siblings().hide();
        $("#choose").show();
        $("#head").show();
    })

    $(document).ready(function () {
        $('#getMailer').on('click', function () {
            var mailer = [];
            $('input[type=checkbox]').each(function () {
                if ($(this).is(':checked')) {
                    mailer.push($(this).data("id"));
                }
            });
            $.ajax({
                url: "/Order/SendMailerCheck",
                type: "POST",
                data: { mailerid: mailer },
                dataType: "json",
                traditional: true,
                success: function () {
                    window.location.href = "/Order/List";
                }, error: function (error) {
                    alert(JSON.stringify(error));
                }
            });
        });
    });

    //$(document).ready(function () {
    //    $('#returnMailer').on('click', function () {
    //        var mailer = [];
    //        var i = 0;
    //        $('input[type=checkbox]').each(function () {
    //            if ($(this).is(':checked')) {
    //                mailer.push($(this).data("id"));
    //            }
    //        });
    //        $.ajax({
    //            url: "/Order/ReturnMailer",
    //            type: "POST",
    //            data: { mailerid: mailer },
    //            dataType: "json",
    //            traditional: true,
    //            success: function () {
    //                window.location.href = "/Order/List";
    //            }, error: function (error) {
    //                alert(JSON.stringify(error));
    //            }
    //        });
    //    });
    //});


</script>