@using PagedList.Mvc;
@using GridMvc.Html;
@model PagedList.IPagedList<MNPOSTWEBSITE.Models.Mailer> 
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<head>
    <link rel='stylesheet' id='frontend.popup-css' href='~/Content/datetime/css/bootstrap-datetimepicker.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='~/Content/datetime/js/bootstrap-datetimepicker.min.js'></script>
    <style>
        input[type=text] {
            width: 180px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 12px;
            background-color: white;
            background-image: url('../../images/search.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
            margin: 10px;
        }

            input[type=text]:focus {
                width: 15%;
            }
    </style>
</head>
<section id="main-content">
    <section class="wrapper">
        <h3><i class="fa fa-angle-right"></i> Danh sách đơn hàng đã tạo</h3>
        <div class="row">

            <div class="row mt">
                <div class="col-md-12">
                    <div class="content-panel">
                        <table class="table table-striped table-advance table-hover">
                            <h4><i class="fa fa-angle-right"></i> Đơn hàng</h4>
                            @*<div class="well">
                                <div id="datetimepicker1" class="input-append date">
                                    <input data-format="dd/MM/yyyy hh:mm:ss" type="text">
                                    <span class="add-on">
                                        <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                        </i>
                                    </span>
                                </div>
                            </div>*@
                            <hr />
                            <form role="search" method="get" action="/order/searchmailer">
                                <input type="text" name="mailerid" placeholder="Nhập mã vận đơn">
                                <button class="btn btn-success">Tìm kiếm</button>
                            </form>
                            <thead>
                                <tr>
                                    <th><i class="fa fa-bullhorn"></i> Mã đơn hàng</th>
                                    <th><i class="fa fa-question-circle"></i> Tên người gửi</th>
                                    <th><i class="fa fa-bookmark"></i> Tên người nhận</th>
                                    <th><i class="fa fa-edit"></i> Ngày tạo</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    if (Model.Count > 0)
                                    {
                                        <tr>
                                            <td><a href="/order/edit/@item.MailerID">@item.MailerID</a></td>
                                            <td class="hidden-phone">@item.SenderName</td>
                                            <td class="hidden-phone">@item.RecieverName</td>
                                            <td>@item.CreationDate</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <br />
                                        <tr>
                                            Không có đơn hàng nào
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div><!-- /content-panel -->
                    <br />
                    <strong style="margin: 12px;"> Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</strong>
                    @Html.PagedListPager(Model, page => Url.Action("List", new { page }))
                </div><!-- /col-md-12 -->
            </div><!-- /row -->
        </div>
    </section><! --/wrapper -->
</section><!-- /MAIN CONTENT -->
<script type="text/javascript">
  $(function() {
    $('#datetimepicker1').datetimepicker({
      language: 'pt-BR'
    });
  });
</script>